/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [rno]
      ,[fname]
      ,[mname]
      ,[lname]
      ,[dob]
      ,[gender]
      ,[course]
      ,[Batch]
      ,[email]
      ,[password]
  FROM [MAGOBARY].[dbo].[Registration]